*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.h linguist-language=C++
* linguist-vendored
*.cpp linguist-vendored=false
*.hpp linguist-vendored=false
*.h linguist-vendored=false
*.cmake linguist-vendored=false
CMakeLists.txt linguist-vendored=false
CMake/cotire.cmake linguist-vendored=true
papers/parallel_algorithms/ filter=lfs diff=lfs merge=lfs -text
papers/parallel_algorithms/2019_Book_.pdf filter=lfs diff=lfs merge=lfs -text
