cmake-build-debug/
cmake-build-release/
.idea/

/log/
/dependencies/
!/log/.gitkeep

# File for indiividual external library configuring:
CMake/LibraryConfig.cmake

# Actually, all the build directories:
*cmake-build-*
