[submodule "dependencies/pythonic"]
	path = dependencies/pythonic
	url = https://github.com/donRumata03/pythonic
	ignore = dirty
[submodule "dependencies/PowerfulGA"]
	path = dependencies/PowerfulGA
	url = https://github.com/donRumata03/PowerfulGA
	ignore = dirty
[submodule "dependencies/lunasvg"]
	path = dependencies/lunasvg
	url = https://github.com/sammycage/lunasvg
	ignore = dirty
[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
