[submodule "dependencies/pythonic"]
	path = dependencies/pythonic
	url = https://github.com/donRumata03/pythonic
[submodule "dependencies/PowerfulGA"]
	path = dependencies/PowerfulGA
	url = https://github.com/donRumata03/PowerfulGA
[submodule "dependencies/lunasvg"]
	path = dependencies/lunasvg
	url = https://github.com/sammycage/lunasvg
[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://github.com/p-ranav/argparse.git
