*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.h linguist-language=C++

* linguist-vendored

*.cpp linguist-vendored=false
*.hpp linguist-vendored=false
*.h linguist-vendored=false


*.cmake linguist-vendored=false
CMakeLists.txt linguist-vendored=false
CMake/cotire.cmake linguist-vendored=true
